<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{'Title' | translate}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">
            {{'Menu.Home' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bizi/list']">
            {{'Menu.BiziStationsList' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/bizi/map']">
            {{'Menu.BiziStationsMap' | translate }}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/article/list']">
            {{'Menu.ArticleList' | translate }}
          </a>
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">
            Logout
          </a>
        </li>
      </ul>
      <form [formGroup]="languageForm">
        <div class="btn-group"
             ngbRadioGroup
             name="radioBasic"
             formControlName="lang">
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="es">ES
          </label>
          <label ngbButtonLabel class="btn-primary">
            <input ngbButton type="radio" value="en">EN
          </label>
        </div>
      </form>
    </div>
  </nav>
</div>
<div class="container">
  <div *ngIf="loading">
    <ngb-alert [type]="'info'">{{ 'Loading' | translate }}</ngb-alert>
  </div>
  <div *ngIf="errorMsg">
    <ngb-alert [type]="'danger'">{{ errorMsg }}</ngb-alert>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
